<%- include('partes/header')  %>    

<%- include('partes/navbar')  %>



<div class="container">
    <div class="row">
       

<div class="col  col-xl-3">
    <div class="card" style="width: 18rem;">
        
        <img class="card-img-top" src="/<%= products.img %>" alt="Card image cap">
        
        <div class="card-body">
          
          
         
            <p class="price"> price:<%= products.price %>$</p>
         
           
         
           
          <a href="home" class="btn btn-primary">Go to home</a>

        </div>
    </div>
      </div>
      
</div>

</div>>



<%- include('partes/footer')  %>  