<%- include('partes/header')  %>    

<%- include('partes/navbar')  %>



<div class="container">
    <div class="row">
        <% for(let product of products){%>

<div class="col  col-xl-3">
    <div class="card" style="width: 18rem;">
        
        <img class="card-img-top" src="/<%= product.img %>" alt="Card image cap">
        
        <div class="card-body">
          
          
         
            <p class="price"> price:<%= product.price %>$</p>
         
           
         
           
          <a href="#" class="btn btn-primary">Go to home</a>
        </div>
    </div>
      </div>
      <%}%>
</div>

</div>


<%- include('partes/footer')  %>  